body{
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    bottom: 10px;
}

.corpo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
}

#button-init{
    width: 150px;
    display: inline-block;
    background-color: white;
    margin: 20px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid black;
    cursor: pointer;
    font-size: 20px;
}

#button-init:hover{
    transition-delay: 12ms;
    transform: scale(1.1);
}

#button-init:active{
    background-color: black;
    color: white;
}

.hidden{
    display: none;
}

.answer{
    display: block;
    border-radius: 5px;
    border: 1px solid black;
    padding: 10px;
    font-size: 20px;
    cursor: pointer;
}

.answer:hover{
    transition-delay: 12ms;
    transform: scale(1.1);
}

.answer:active{
    background-color: black;
    color: white;
}
