body{
    font-family: sans-serif;
    margin: 0;
    display: grid;
    justify-content: center;
    align-items: center;


    background-image: url("https://i.pinimg.com/736x/b1/71/ec/b171ec6c19523d1ee836cd2900af5893.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

html, body{
    height: 100%;
}

footer{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    bottom: 2px;
    margin-top: auto;
}

.corpo{
    width: 800px;
    height: 700px;
    margin: 80px auto;
    padding: 40px 20px;
    background-color: #ffffff;
    border-radius: 20px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);

    display: grid;
    justify-content: center;
    align-items: center;
    text-align: center;

}

.button{
    width: 150px;
    display: inline-block;
    background-color: white;
    margin: 20px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid black;
    cursor: pointer;
    font-size: 20px;
}

.button:hover{
    transition-delay: 12ms;
    transform: scale(1.1);
}

.button:active{
    background-color: black;
    color: white;
}

.hidden{
    display: none;
}

.imagem{
    width: 70vw;
    max-width: 300px;
    height: auto;
    aspect-ratio: 1/1;
    border-radius: 50%;
    border: 2px solid black;
}

.answer{
    display: block;
    border-radius: 5px;
    border: 1px solid black;
    padding: 10px;
    font-size: 20px;
    cursor: pointer;
}

*{
    outline: none;
}

.answer:hover{
    transition-delay: 12ms;
    transform: scale(1.1);
}

.answer:active{
    background-color: black;
    color: white;
}

